@page "/"

<h1 align="center"> Compare prices and save money!</h1>
<br>
<br>
<br>
<br>

<div class="desktop"  >
    <p >
        <b>

            <span class="note"> Would you like to make a order?  </span>
            <a href="api/files" download="desktop.exe" target="_top">  
                <span class="note">  Click here and download desktop version!</span>
            </a>
            <img class="deskt_img" src="/images/dekstop.jpg" asp-append-version="true" width="500px" />

        </b>
    </p>

</div>


<p align="left">
    <img class="logo_img" src="/images/login.jpg" asp-append-version="true" width="300px" />
    <b>
        1. - Register and log in<br>
  
    </b>
</p>

<br>
<br>

<p align="left">
    <img class="logo_img" src="/images/lookfor.jpg" asp-append-version="true" width="300px" />
    <b>
        2. - Find best price for your product in your city! <br>
      
    </b>
</p>

<br>
<br>

<p align="right">
    <img class="logo_img" src="/images/buy.jpg" asp-append-version="true" width="300px" />
    <b>
        3. - Download desktop version and make a order! <br>

    </b>
</p>

